In [ ]:
#Introduction to Python Machine learning quiz solutionsfor STAGE A of Hamoye Data science internship programme

In [1]:
#First step in writing a code using is to import all required library packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Question 1 is A.extend(B)
#please find the solution below

A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [3]:
A.extend(B)

In [5]:
A_B = A

In [6]:
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [7]:
#Answer to question 2 is np.identity(3)
#please find the solution below

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
#the second step is to download the dataset to be analyzed 
df = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")
df

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [14]:
#Question 3

dfs= df.groupby('fuel_type_code_pudl').mean().

In [16]:
dfs['fuel_cost_per_unit_burned']

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [17]:
#Question 4

df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [20]:
#Question 5
df['fuel_qty_burned'].skew()

15.851495469109503

In [22]:
#Question 5
df['fuel_qty_burned'].kurt()

651.3694501337732

In [23]:
#Question 6
#please find solution below

df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [26]:
#To check the length of the dataframe

len(df)

29523

In [25]:
#To calculate teh percentage pf missing data

round(((180/29523)*100),3)

0.61

In [43]:
#Question 7
dfs = df.groupby('fuel_unit')

In [44]:
dfs['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [47]:
df['fuel_unit'].fillna(value='mcf', inplace=True)

In [48]:
df.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [30]:
#Question 8
df.corr()['fuel_cost_per_unit_burned']

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [32]:
#Question 9
dfs= df.groupby('report_year').mean()

In [33]:
dfs

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1994,106.120648,2.724018e+06,10.638098,213.191996,63.636060,3.086977
1995,110.139051,3.712067e+06,10.644830,354.422555,32.735269,2.868838
1996,108.714154,2.544754e+06,10.778041,79.434995,9196.705948,2.695880
1997,108.366545,2.813503e+06,10.247632,149.482132,11140.197239,3.113486
1998,109.845528,3.267453e+06,10.704964,126.683519,287.154420,2.775862
1999,108.222857,3.281281e+06,10.558885,120.053605,25.551627,2.740251
2000,111.083758,2.472032e+06,9.224475,237.797111,985.362877,4.208403
2001,113.521386,2.321402e+06,8.371469,133.013010,60.050396,4.612658
2002,120.354357,2.145645e+06,8.304833,101.179365,47.594361,6.226281
2003,123.300578,1.888622e+06,8.403746,123.183919,55.663493,7.223933
2004,121.123322,1.782547e+06,8.332425,154.897398,139.524275,8.441597
2005,121.028369,1.768876e+06,8.135972,107.111221,41.438184,9.397078
2006,117.178600,1.957264e+06,8.138090,151.361249,38.657484,10.339898
2007,116.040348,2.035696e+06,8.027581,202.622082,43.325023,10.735181
2008,120.785016,2.046455e+06,7.892854,255.954415,58.588197,12.690115
2009,118.139116,2.154993e+06,7.688192,215.699318,652.694163,10.619376
2010,117.992863,2.423720e+06,7.575013,262.951203,91.862105,8.551217
2011,121.069355,2.461332e+06,7.786182,301.754519,59.774667,9.237591
2012,120.769912,2.747094e+06,7.796063,258.804138,60.994502,8.808904
2013,122.082569,2.741505e+06,7.797024,255.991023,172.307591,9.308225
2014,129.263877,2.700008e+06,7.588334,442.359068,192.737183,10.064673
2015,128.591949,3.340131e+06,7.217820,237.933197,326.535511,8.054361
2016,133.117021,3.693289e+06,6.846478,247.083959,103.901761,6.915613
2017,131.126888,3.352850e+06,6.781353,246.281796,46.196861,368.736351
2018,133.669821,4.178890e+06,6.596546,232.992036,499.269966,7.233643

In [36]:
#Question 9

((126.683519-213.191996)/213.191996)*100

-40.577732102100114

In [37]:
#Question 10

dfs

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1994,106.120648,2.724018e+06,10.638098,213.191996,63.636060,3.086977
1995,110.139051,3.712067e+06,10.644830,354.422555,32.735269,2.868838
1996,108.714154,2.544754e+06,10.778041,79.434995,9196.705948,2.695880
1997,108.366545,2.813503e+06,10.247632,149.482132,11140.197239,3.113486
1998,109.845528,3.267453e+06,10.704964,126.683519,287.154420,2.775862
1999,108.222857,3.281281e+06,10.558885,120.053605,25.551627,2.740251
2000,111.083758,2.472032e+06,9.224475,237.797111,985.362877,4.208403
2001,113.521386,2.321402e+06,8.371469,133.013010,60.050396,4.612658
2002,120.354357,2.145645e+06,8.304833,101.179365,47.594361,6.226281
2003,123.300578,1.888622e+06,8.403746,123.183919,55.663493,7.223933
2004,121.123322,1.782547e+06,8.332425,154.897398,139.524275,8.441597
2005,121.028369,1.768876e+06,8.135972,107.111221,41.438184,9.397078
2006,117.178600,1.957264e+06,8.138090,151.361249,38.657484,10.339898
2007,116.040348,2.035696e+06,8.027581,202.622082,43.325023,10.735181
2008,120.785016,2.046455e+06,7.892854,255.954415,58.588197,12.690115
2009,118.139116,2.154993e+06,7.688192,215.699318,652.694163,10.619376
2010,117.992863,2.423720e+06,7.575013,262.951203,91.862105,8.551217
2011,121.069355,2.461332e+06,7.786182,301.754519,59.774667,9.237591
2012,120.769912,2.747094e+06,7.796063,258.804138,60.994502,8.808904
2013,122.082569,2.741505e+06,7.797024,255.991023,172.307591,9.308225
2014,129.263877,2.700008e+06,7.588334,442.359068,192.737183,10.064673
2015,128.591949,3.340131e+06,7.217820,237.933197,326.535511,8.054361
2016,133.117021,3.693289e+06,6.846478,247.083959,103.901761,6.915613
2017,131.126888,3.352850e+06,6.781353,246.281796,46.196861,368.736351
2018,133.669821,4.178890e+06,6.596546,232.992036,499.269966,7.233643

In [38]:
#Question 10

dfs['fuel_cost_per_unit_delivered']

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64